@import "tailwindcss";

@layer utilities {
  /* Định nghĩa animation chạy chữ từ phải sang trái */
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* Tạo một class để áp dụng animation */
  .animate-marquee {
    animation: marquee 50s linear infinite;
  }
}
